<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="../../assets/logo.png" width="60" height="40" class="d-inline-block align-top" alt="">
        Simetria
    </a>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a routerLink="../" class="nav-link" routerLinkActive="active">
                Cliente
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">3</a>
        </li>
    </ul>
    <button routerLinkActive="active" class="btn btn-outline-primary my-2 my-sm-0" routerLink="auth">Salir</button>
</nav>
